* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Roboto", sans-serif;
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  h2 {
    color: #e6834c;
    font-size: 2rem;
    margin: 1rem;
  }
  
 
   section {
    display: flex;
    align-items: center;
    justify-content: center;
   }
   section .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1.8rem 1rem;
    margin: 1rem 1rem;
    border-radius: 0.5rem;
    background-color: #f5f5f5;
    height: 300px;
    width: 300px;
   }
  
  
    
  
section .box2{
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1.8rem 1rem;
    margin: 1rem 1rem;
    border-radius: 0.5rem;
    background-color: #f5f5f5;
    height: 300px;
    width: 300px;
}