
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    background-color: #ffffff;
    padding: 15px 50px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 50px; 
    height: auto;
    filter: invert(28%) sepia(49%) saturate(2699%) hue-rotate(342deg) brightness(96%) contrast(90%);
}
.logo h1 {
    font-size: 24px;
    color: #2c3e50;
}

.nav-links a {
    text-decoration: none; 
    color: #555;
    margin-left: 20px;
    font-weight: 600;
    transition: color 0.3s ease;
}
.nav-links a:hover {
    color: #e67e22; 
}


.hero {
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('../assets/res.jpg');
    background-size: cover;
    background-position: center;
    height: 80vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    color: white;
    padding-left: 50px;
}

.hero h1 {
    font-size: 5.1rem;
    margin-bottom: 10px;
}

.hero p {
    font-size: 2.1rem;
    margin-bottom: 20px;
}

.btn {
    padding: 10px 25px;
    background-color: #e67e22;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background 0.3s ease;
}

.btn:hover {
    background-color: #d35400;
}


.footer {
    background-color: #2c3e50;
    color: white;
    padding: 40px 50px;
    margin-top: 50px;
    text-align: left;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
}

.footer-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-logo img {
    width: 40px;
    filter: invert(1); 
}

.footer-left p {
    margin-top: 10px;
    font-size: 14px;
    max-width: 300px;
}

.footer-nav {
    display: flex;
    flex-direction: column; 
    gap: 10px;
}

.footer-nav a {
    color: white;
    text-decoration: none;
    margin: 0;
    font-weight: bold;
}

.footer-social h3 {
    margin-bottom: 15px;
    font-size: 18px;
}

.social-icons {
    display: flex;
    gap: 15px;
}

.social-icons img {
    width: 30px;
    margin: 0;
    filter: invert(1); 
}

.footer-bottom {
    text-align: center;
    margin-top: 30px;
    padding-top: 20px;
    border-top: 1px solid rgba(255,255,255,0.1); 
    font-size: 14px;
}
