/* contacts */
section {
  background-color: #fff7ef;
  padding: 60px 10%;
  text-align: center;
}
section h2 {
  font-size: 32px;
  color: #e67e22;
  margin-bottom: 40px;
}


section > div {
  display: inline-block;
  width: 280px;
  background: #ffffff;
  margin: 10px;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  vertical-align: top;
}

section > div h3 {
  color: #e67e22;
  margin-bottom: 10px;
  font-size: 18px;
}

section > div p {
  color: #555;
  line-height: 1.6;
  font-size: 15px;
}